body {
	max-width: 100vw;
	background-color: rgba(24, 24, 24, 1);
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

.nav-bar {
	width: 50%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 33px 30px;
}

li {
	list-style-type: none;
	display: inline;
	margin-right: 40px;
	color: white;
}

a {
	text-decoration: none;
}

ul + button {
	background-color: rgba(24, 24, 24, 1);
	color: white;
	padding: 10px 36px;
	border: 1px solid;
	font-weight: bold;
}

.main {
	color: white;
	margin-top: 20px;
}

.text-container {
	text-align: center;
}

.text-container p {
	font-size: small;
}

h1 {
	font-size: 40px;
}

#trial {
	padding: 10px 30px;
	background-color: rgba(68, 82, 254, 1);
	border: 1px solid rgba(68, 82, 254, 1);
	color: white;
	margin-right: 20px;
	text-transform: capitalize;
	font-weight: bold;
}

#learn {
	padding: 10px 30px;
	background-color: rgba(24, 24, 24, 1);
	border: 1px solid white;
	color: white;
	text-transform: capitalize;
	font-weight: bold;
}

#screens {
	display: flex;
	justify-content: center;
	margin: 20px;
}

#screens img {
	width: 60%;
	height: 500px;
	/* box-shadow: 0px 20px 100px 10px rgba(0, 0, 255, .2); */
}

.features {
	text-align: center;
	margin-top: 100px;
	background-color: rgb(16, 19, 19);
	padding-top: 50px;
}

.grid {
	display: grid;
	grid-template-columns: auto auto;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

#image img {
	height: 600px;
}

.grid li {
	text-align: start;
}

#icon {
	display: flex;
	align-items: center;
}

#icon img {
	margin-right: 10px;
}

span {
	font-weight: bold;
}

p {
	font-size: small;
}

.features h2 {
	text-transform: uppercase;
	font-weight: 300;
	font-size: xx-large;
}

#partners {
	margin-top: 100px;
}

#partners-icons {
	display: flex;
	justify-content: center;
	padding-left: 30px;
}

#partners-icons img {
	margin: 30px 30px 30px 0px;
	height: 60px;
}

#partners-button {
	padding: 10px 30px;
	background-color: rgb(16, 19, 19);
	color: white;
	text-transform: capitalize;
	border: 1px solid white
}
