<!Doctype html>
<html lang="en-us">
    <head>
        <title>achahid- CARD</title>
        <meta name="viewport" charset="utf-8" />
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div class="container">
            <div class="card">
                <img src="https://badge.mediaplus.ma/binary/achahid-" alt="Student Badge" />
                <button type="button" class="button">Learning</button>
                <span>Published 05 May 2024</span>
                <h1>HTML & CSS foundations</h1>
                <p>
                    These languages are the blackbone of every website, defining structure,
                    content and presentation
                </p>
                <div class="tag">
                    <img src="https://cdn.intra.42.fr/users/91e093e75b9a1c8489d8d10eab53ca5d/achahid-.jpeg" alt="Student icon">
                    <span>Anas chahid ksabi</span>
                </div>
            </div>
        </div>
    </body>
</html>
