@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff); 
 }

body {
    min-width: 100vw; /* Set width relative to the viewport width */
    min-height: 100vh; /* Set height realive to viewport width */
    background-color: gold;
    font-family: myFirstFont;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 360px;
    height: fit-content;
    background-color: white;
    border-radius: 15px;
 /*    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    border: 1px solid;
    box-shadow: 5px 5px 0px black ;
    padding: 30px;
    
}

.card {
    width: 100%;
}

.card p
{
   overflow-x: hidden;
   width: 100%;
}

.container img {
    width: 100%;
}

.button {
    border: none;
    border-radius: 5px;
    font-size: 0.8rem;
    padding: 8px;
    font-weight: 800;
    background-color: gold;
    text-align: center;
    margin-top: 15px;
}

.tag {
    display: flex;
    align-items: center;
}

.tag img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 10px;
}

.tag span {
    font-weight: bold;
    font-size: 15px;
}

p {
    color: grey;
}

h6 {
    font-weight: 510;
}
