<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>achahid- Card2</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <img src="https://cdn.intra.42.fr/users/91e093e75b9a1c8489d8d10eab53ca5d/achahid-.jpeg" alt="Student Card">
            <h1>Anas Chahid Ksabi</h1>
            <h3>Morocco, Casablanca</h3>
            <p>"Front-end developer and avid reader."</p>
            <div class="box"><span>Github</span></div>
            <div class="box"><span>Frontend Mentor</span></div>
            <div class="box"><span>LinkedIn</span></div>
            <div class="box"><span>Twitter</span></div>
            <div class="box"><span>Instagram</span></div>
        </div>
    </div>
</body>
</html>