/* Default styling */

@keyframes anim {
    50% {
        border-right: 1px solid #699efa;
		padding-right: 5px;
    }
    100% {
        border-right: 1px solid transparent;
    }
}

* {
	margin: 0;
	padding: 0;
	font-family: "Kanit", sans-serif;
	color: white;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

body {
	width: 100vw;
	height: 100vh;
	background: linear-gradient(to right, black, rgb(1, 1, 63));
}

/* social media styling  */
.social-media {
	font-size: 2rem;
	position: absolute;
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 90px;
	margin-right: 10px;
	right: 0;
	align-items: flex-end;
}

.social-media i {
	opacity: 0.7;
	transition: 0.7s;
	cursor: pointer;
}

.social-media i:hover {
	opacity: 1;
	text-shadow: 0 0 10px white;
}

/* nav-bar styling */

.primary-nav {
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	left: 50px;
}

.primary-nav span {
	font-size: 3rem;
	color: white;
	font-weight: bold;
	transition: 0.7s;	
}

.primary-nav span:hover {
	color: #699efa;
	text-shadow: 1px 1px 10px #699efa;
	cursor: pointer;
}

.primary-nav-bar {
	display: flex;
	gap: 100px;
}


.primary-nav-bar li {
	font-weight: bold;
	transition: 0.7s;
	font-size: 1.1rem;
}

.primary-nav-bar li:hover, #current {
	font-size: larger;
	border-top: 1px solid white;
	color: #699efa;
	cursor: pointer;
}

/* whomai card styling */

.whoami {
	display: flex;
	align-items: center;
	padding: 50px 80px;
	justify-content: space-evenly;
	flex-wrap: wrap-reverse;
}

/* .whoami-card {
	width: 40%;
	height: fit-content;
	padding: 30px;
	background-color:#6f6ffa2a;
	border-radius: 30px;
	text-align: center;
	overflow: hidden;
} */

.whoami-card h1 {
	padding-bottom: 20px;
	border-bottom: 5px double gray;
}

.whoami-card h1 span {
	color: #699efa;
	margin-right: 1px;
}

.whoami-card p {
	margin-top: 10px;
	font-size: 1rem;
	text-align: start;
}

.whoami-card {
	display: flex;
	flex-direction: column;
	width: 40%;	
	height: fit-content;
	padding:30px ;
	position:relative;
	text-align: center;
}

.whoami-card:before {
	content:'';
	position:absolute;
	z-index:-1;
	top:0;
	left:0;
	bottom:0;
	right:0;
	filter:blur(165px);
	background-size:100vw auto;
	box-shadow:inset 0 0 0 100vw rgba(255,255,255,0.2);
	border-radius: 100px;
}


.me-container img {
	width: 300px;
	height: 300px;
	border-radius: 50%;
}

h1 {
	font-size: 3rem;
}

/* second section styling */

.job-title {
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: center;
	text-align: center;
}

#second-section h2 {
	font-size: 80px;
	font-weight: 290;
}

#second-section span {
	border-right: 1px solid #699efa;
	padding-right: 5px;
	animation: 1s anim infinite;
	color: #699efa;
}

.skills ul {
	display: flex;
	gap: 200px;
	overflow: scroll;
	padding: 20px 40px;
}

@media (max-width: 894px) {
	.whoami-card {
		width: 90%;
	}
	.me-container img {
		width: 150px;
		height: 150px;
	}

	.social-media {
		margin-top: 50px;
		font-size: 1.5rem;
	}

	@media (max-width: 600px) {
		.primary-nav-bar {
			display: none;
		}
	}
}
