body {
  background-image: url(./Component\ 4.svg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(8, 32, 50, 1);
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 380;
  font-style: normal;
}

header {
  width: 100%;
  height: 100%;
}

.nav-container {
  width: 60%;
  margin: auto;
  height: 34px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(240, 165, 0, 1);
  border-radius: 20px;
  margin-top: 40px;
  /* box-shadow: 1px 1px 40px white; */
}

.media i {
  font-size: 25px;
  margin: 0 10px;
}

.nav-container ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

ul li {
  margin: 0 10px;
}

.nav-container img {
  image-rendering: optimizeQuality;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: rgba(8, 32, 50, 1);
}

a:hover {
  color: white;
  text-decoration: underline;
}

#special {
  color: white;
}

#hidden {
  display: none;
}

main {
  display: flex;
  justify-content: center;
  margin: 50px;
  display: flex;
  flex-direction: column;
}

.body-container {
  width: 50%;
  margin: auto;
  margin-top: 40px;
}

.body-container img {
  width: 30%;
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(240, 165, 0, 1);
  border-width: 0.5px;
  box-shadow: 5px 5px 200px rgba(240, 165, 0, 1);
  margin-top: 30px;
}

.body-container span {
  color: white;
  position: absolute;
  margin-left: 17.5%;
}

#special-span {
  color: rgba(240, 165, 0, 1);
  position: relative;
  margin-left: 2px;
  font-weight: bold;
  font-style: italic;
}

#svg {
  position: absolute;
  margin-top: 10px;
  margin-left: 13%;
}

.body-text {
  margin: 2% 20% 0%;
  color: white;
  line-height: 200%;
}

.body-text h3 {
	font-style: italic;
}

.body-text h3 span {
	color: rgba(240, 165, 0, 1);
	text-shadow: 2px 2px 40px rgba(240, 165, 0, 1);
}

@media (max-width: 1120px)
{
  .nav {
    width: 100%;
  }

  .body-container {
	width: 70%;
	margin: auto;
	margin-top: 40px;
	display: flex;
	justify-content: center;
  }

  .nav-container {
    background-color: rgba(8, 32, 50, 1);
    width: 90%;
    margin: auto;
  }

  .nav-container img {
    width: 60px;
    height: 60px;
  }

  li, .media a i {
    display: none;
  }

  #hidden {
    display: block;
  }

  i {
    color: white;
  }

  .body-text {
	width: 100%;
	margin: 0px;
	text-align: center;
  }

  .body-container span {
	margin-left: 0px;
  }

  #svg {
	display: none;
  }

  main {
	margin: 20px;
  }
}
